{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block body %}
<h1>Modifier votre mot de passe</h1>

<p>Attention, au vu de la configuration demandé pour envoyer des emails, nous avons décidé qu'il serait plus judicieux de rediriger l'utilisateur directement vers la page de modification du mot de passe</p>

{{ form_start(resetForm) }}
    {{ form_widget(resetForm) }}
{{ form_end(resetForm) }}
{% endblock %}
