{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<h1>Mot de passe oublié</h1>

<p>Attention, au vu de la configuration demandé pour envoyer des emails, nous avons décidé qu'il serait plus judicieux de rediriger l'utilisateur directement vers la page de modification du mot de passe</p>

{{ form_start(requestForm) }}
    {{ form_widget(requestForm) }}
{{ form_end(requestForm) }}
{% endblock %}
